.Home {
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  width: 99vw;
}

header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: var(--header-height);
  z-index: 500;
  position: fixed;
  background-color: var(--body-color);
}

.logo {
  display: flex;
}

.logo img {
  margin: 0.5rem;
}

.marca {
  margin-top: 1rem;
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);
}

ul {
  display: flex;
  align-items: center;
  padding: 1rem;
}

li a {
  text-decoration: none;
  margin: 1rem;
  color: var(--text-color);
}

li a:hover {
  color: var(--first-color);
  transition: 0.8s;
}

.exit {
  background-color: dodgerblue;
  width: 50px;
  height: 30px;
  border-radius: 8px;
  font-size: 12px;
  opacity: 0.5;
}

/*---  HOME  ---*/

.home {
  width: 100%;
  height: auto;
  display: inline-block;
  text-align: center;
  margin-top: 3rem;
  padding: 2rem;
}

.home h2 {
  font-size: var(--h1-font-size);
  margin: 1rem;
}

.Porsche h3 {
  font-size: var(--h2-font-size);
}

.Porsche p {
  font-size: var(--normal-font-size);
}

.Porsche img {
  width: 25rem;
  margin: 2rem;
}

.dados {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -3rem;
}

.temperature {
  padding: 2rem;
}

.mileage {
  padding: 2rem;
}

.battery {
  padding: 2rem;
  margin-left: 2rem;
}

.start0 {
  display: inline-block;
  justify-content: center;
  width: 130px;
  height: 130px;
  cursor: pointer;
  border-radius: 50%;
  background: transparent;
  border: 1px solid var(--first-color);
  outline: none;
}

.start {
  display: inline-block;
  justify-content: center;
  width: 100px;
  height: 100px;
  cursor: pointer;
  border-radius: 50%;
  background: transparent;
  border: 1px solid var(--first-color);
  outline: none;
  transition: 1s ease-in-out;
  margin-top: 0.8rem;
  padding-top: 2rem;
}

.start:hover {
  animation: pulsate 1s ease-in-out;
}

@keyframes pulsate {
  0% {
    box-shadow: 0 0 25px var(--first-color-alt), 0 0 50px var(--first-color);
  }
}

.start span {
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
}

/*--- ABOUT ---*/

.about {
  width: 100%;
  height: auto;
  display: flex;
}

.about img {
  width: 35rem;
  height: 24rem;
  border-radius: 20px;
  margin: 5rem;
}

.about-car {
  height: 30rem;
  width: 30rem;
  padding: 8rem 5rem 5rem 5rem;
}

.about-car button {
  border-radius: 10px;
  border: none;
  background-color: var(--first-color);
  padding: 1rem;
  cursor: pointer;
  margin-top: 8rem;
}

/*--- POPULAR ---*/

.popular {
  width: 100%;
  height: auto;
}

.popular h2 {
  font-size: var(--h2-font-size);
  margin: 3rem;
  text-align: center;
}

.amostras {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.card {
  width: 18rem;
  height: 14rem;
  position: relative;
  margin: 1rem;
}

.card-img-wrapper {
  padding: 2rem;
  background-color: #262626;
  border-radius: 1rem;
}

.card-img-wrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.card:hover .card-img-wrapper img {
  opacity: 0.5;
}

.card-info {
  position: absolute;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  padding: 1rem;
  text-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, 0.6);
  transition: all 0.3s;
}

.card-info h2 {
  font-size: var(--h3-font-size);
}

.card-info p {
  font-size: var(--small-font-size);
  width: 80%;
  margin-bottom: 2rem;
}

.card:hover .card-info {
  bottom: 1rem;
  opacity: 1;
  visibility: visible;
}

.more-features {
  text-align: center;
}

.mapa {
  position: absolute;
  width: 30rem;
  margin-left: -10rem;
}

.carro {
  margin: 3rem;
  height: 25rem;
  position: relative;
}

/*--- FEATURED ---*/

.featured {
  width: 100%;
  height: auto;
}

.featured h2 {
  font-size: var(--h2-font-size);
  margin: 3rem;
  text-align: center;
}

.sub-footer {
  width: 100%;
  display: flex;
  background-image: url(../Images/offer-bg.png);
  justify-content: space-around;
}

.sub-footer img {
  width: 25rem;
  height: 12rem;
  margin-top: 10rem;
  margin-left: -15rem;
}

.offer {
  height: auto;
  width: 30rem;
  margin: 2rem;
}

.offer button {
  border-radius: 10px;
  border: none;
  background-color: var(--first-color);
  padding: 1rem;
  cursor: pointer;
  margin-top: 3rem;
}

.marcas ul {
  width: 100%;
  height: 15rem;
  justify-content: space-around;
  flex-wrap: wrap;
}

.marcas img {
  width: 4rem;
}

/*--- FOOTER ---*/

footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

footer ul {
  flex-direction: column;
  font-size: var(--normal-font-size);
}

footer .follow-us li {
  margin: 0.5rem;
}

@media screen and (max-width: 700px) {
  .sub-footer img {
    display: none;
  }

  .about img {
    display: none;
  }

  .Porsche img {
    width: 10rem;
    margin: 2rem;
  }
}
