* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 500;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: var(--body-color);
  color: var(--first-color);
  font-family: var(--body-font);
}

.container {
  display: flex;
}

main {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main h1 {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.social-media {
  width: 13rem;
  display: flex;
  justify-content: space-between;
}

.social-media button {
  cursor: pointer;
  border: none;
  background-color: var(--body-color);
  font-size: 36px;
  color: #fff;
  transition: all 1s;
}

.social-media button:hover {
  transform: scale(1.1);
}

main .alternative {
  margin-top: 1rem;
}

main .alternative span {
  font-size: 1.1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  position: relative;
}

main .alternative span::before,
main .alternative span::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100px;
  bottom: 50%;
  right: 50px;
  background: rgb(255, 255, 255);
}

main .alternative span::after {
  left: 50px;
}

main form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main form label {
  display: flex;
  flex-direction: column;
}

main form label span {
  font-size: 1.1rem;
  margin-top: 1rem;
}

section.images {
  width: 45vw;
  height: 100vh;
  display: flex;
  align-items: flex-end;
}

section.images img {
  width: 100%;
}

section.images .circle {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, var(--first-color), #636fa4);
  clip-path: circle(40% at right 80%);
  z-index: -1;
}

@media only screen and (max-width: 900px) {
  section.images {
    display: none;
    visibility: hidden;
  }

  main {
    margin-top: 5rem;
    width: 100vw;
  }
}

@media only screen and (max-width: 450px) {
  main h1 {
    font-size: 2rem;
  }

  main .alternative span {
    font-size: 0.8rem;
  }

  main form label span,
  main form input[type="submit"] {
    font-size: 1rem;
  }
}
